/* You can add global styles to this file, and also import other style files */
.form-group label {
    color: blue;
    font-weight: 500;
    font-size: large;
}
.form-group input {
    font-weight: 500;
}
.form-group input::placeholder {
    color:lightgray;
    font-weight: 300;
}
input.invalid {
    border-color: red;
}